.icon-outlined-b-nd-logo-twitter {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 16px;
  margin-top: 4.0px;
  mix-blend-mode: normal;
  padding: 1.7px 0;
  width: 24px;
}
.vector-7 {
  height: 20px;
  width: 24px;
}
