.about-i505324146 {
  height: 18px;
  letter-spacing: 0.20px;
  line-height: 18px;
  margin-left: 45px;
  min-height: 18px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.links {
  align-items: flex-start;
  display: flex;
  margin-bottom: 1.0px;
  margin-left: 202px;
  min-width: 436px;
}
.text-47 {
  height: 18px;
  letter-spacing: 0.20px;
  line-height: 18px;
  min-height: 18px;
  min-width: 51px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.text-48 {
  height: 18px;
  letter-spacing: 0.20px;
  line-height: 18px;
  margin-left: 41px;
  min-height: 18px;
  min-width: 66px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.text-49 {
  height: 18px;
  letter-spacing: 0.20px;
  line-height: 18px;
  margin-left: 26px;
  min-height: 18px;
  min-width: 81px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.text-50 {
  height: 18px;
  letter-spacing: 0.20px;
  line-height: 18px;
  margin-left: 20px;
  min-height: 18px;
  min-width: 48px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
