.desktop-1 {
  align-items: center;
  background-color: #578d5c;
  display: flex;
  flex-direction: column;
  height: 1024px;
  mix-blend-mode: normal;
  position: relative;
  width: 1440px;
}
.flex-row {
  align-items: flex-start;
  display: flex;
  height: 849px;
  margin-top: 10px;
  min-width: 1426px;
  position: relative;
}
